#home {
    /*background: url(../img/home_bgimg.jpg);*/
    background-size: cover;
    background-position: bottom center;
}
#home-welcome-content {
    background: url(../img/wimg1.png);
    position: fixed;
    left: 0px;
    width: 80%;
    margin: 0 auto;
}

#home-welcome-text {
    position: fixed;
    margin: 0px auto;
    color: black;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1em;
    width: 80%;
    text-align: left;
    font-weight: bold;
}

.home-welcome-intro {
    background: url(../icons/galley-logo-c.png);
    background-size: cover;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 40px;
    width: 200px;
    height: 30px;
    margin: 0 auto;
}

#login-register {
    position: fixed;
    text-align: center;
    width: 100%;
    top:2000px;
    left: 0px;
}

.button {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    /*letter-spacing:0.5em;*/
    margin: 0 1em;
    color: white;
    background: black;
    padding: 0.6em 6em;
    border-radius: 5%;
}
/*.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-active {
  opacity: 0;
}*/
.login-register-content {
    display: none;
    position: fixed;
    top: 120px;
}

.form-part-content input {
    width: 400px;
    border: none;
    border-bottom: 2px solid rgb(51,51,51);
    font-size: 2em;
    outline: none;
    padding-bottom: 0.2em;
}

.form-part-content h6 {
    margin: 1.5em 0;
}

.button-next {
    width: 50px;
    height: 50px;
    background: url(../icons/next.png);
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: -16em;
    display: none;
}

.button-pre {
    width: 30px;
    height: 30px;
    background: url(../icons/pre.png);
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 48px;
    display: none;
}

@media screen and (min-width: 767px) and (max-width: 1080px) {

}

@media only screen and (max-width: 767px) { 
    #home-welcome-text {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.5em;
    }
    .button {
    padding: 0.3em 2em;
    border-radius: 5%;
    }
    .form-part-content input {
    width: 260px;
    border: none;
    border-bottom: 2px solid rgb(51,51,51);
    font-size: 1.2em;
    outline: none;
    padding-bottom: 0.2em;
    }
} 