#home {
    /*background: url(../img/home_bgimg.jpg);*/
    margin: 0px;
    background-size: cover;
    background-position: bottom center;
}
#home-welcome-content {
    background: url(../img/wimg1.png);
    background-size: cover;
    position: absolute;

    width: 80%;
    margin: 0 auto;
}

#home-welcome-text {
    position: absolute;
    top: -100px;
    margin: 0px auto;
    color: black;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1em;
    width: 80%;
    text-align: left;
    font-weight: bold;
}

.home-welcome-intro {
    background: url(../icons/galley-logo-c.png);
    background-size: cover;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: -300px;
    width: 200px;
    height: 30px;
    margin: 0 auto;
}

#login-register {
    position: absolute;
    text-align: center;
    width: 100%;
    top:2000px;
    left: 0px;
}

#mod-exit {
    position: absolute;
    text-align: center;
    width: 100%;
    top:2000px;
    left: 0px;
}

.modify-form-content {
    margin: auto auto;
}

#me-page-content {
    margin: 0px auto;
}

.button {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    /*letter-spacing:0.5em;*/
    margin: 0 1em;
    color: white;
    background: black;
    padding: 0.6em 6em;
    border-radius: 5%;
}
/*.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-active {
  opacity: 0;
}*/
.login-register-content {
    display: none;
    position: absolute;
    top: 20px;
}

.form-part-content input {
    width: 400px;
    border: none;
    border-bottom: 2px solid rgb(51,51,51);
    font-size: 2em;
    outline: none;
    padding-bottom: 0.2em;
}

.form-part-content h6 {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    margin: 1.5em 0;
}

.button-next {
    width: 50px;
    height: 50px;
    background: url(../icons/next.png);
    background-size: cover;
    position: absolute;
    right: 0px;
    bottom: -16em;
    display: none;
}

.button-pre {
    width: 30px;
    height: 30px;
    background: url(../icons/pre.png);
    background-size: cover;
    position: absolute;
    left: 0px;
    top: 48px;
    display: none;
}

.button-close {
    width: 30px;
    height: 30px;
    background: url(../icons/close.png);
    background-size: cover;
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
}

.ui-loader-default{ display:none}  
.ui-mobile-viewport{ border:none;}  
.ui-page {padding: 0; margin: 0; outline: 0}   

.slide {
    width: 100%;
    OVERFLOW-X: scroll;
}

.slide-part-img-0 {
    background: url(../img/wimg1.png);
    background-size: cover;
    height: 150px;
    width: 150px;
    margin: 0px;
}

.slide-part-img {
    background: url(../img/wimg2.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin: 0px;
}

.slide-part-img-2 {
    background: url(../img/wimg3.jpg);
    background-size: cover;
    padding: 5px;
    height: 300px;
    width: 360px;
    margin: 0px;
}

.slide-part-no {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 4em;
    font-weight: lighter;
}

.slide-part-name {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1em;
    font-weight: bold;
}

.slide-part-from {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1em;
    font-weight: bold;
}

.slide-title {
    text-align: left;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1.5em;
    margin-left: 20px;
}

.slide-part-intro {
    text-align: left;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 4px;
}

.slide-part-intro-m {
    text-align: left;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.5em;
    margin: 4px 0px 0px 0px;
    font-weight: normal;
}

.artwork-part-intro-m {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.5em;
    margin: 4px 0px 0px 0px;
    font-weight: normal;
}

.artwork-part-intro {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.8em;
    font-weight: normal;
    margin-top: 4px;
}

/*#nav-content {
    position: relative;
    width: 100%;
    left: 0px;
    top: 94px;
    z-index: 1001;
}*/


#art-nav {
    background: white;
    padding: 5px;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid #DFDFDF;
    z-index: 1000;
}

#art-nav-b {
    color: white;
    /*background: grey;*/
    padding: 6px 0px 4px 0px;
    width: 100%;
    height: 40px;
    position: relative;
    left: 0;
    top: 0px;
    border-bottom: 1px solid #DFDFDF;
    z-index: 1000;
}

#art-nav-b-fake {
    color: firebrick;
    width: 100%;
    height: 59px;
    position: fixed;
}
ul,li {
	list-style: none;
}

#ul-static-nav {
    margin: auto;
    height: 40px;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    z-index: 1000;
}

#art-nav-b ul li {
    margin: 12px 12px;
    float: left;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.8em;
    font-weight: bold;
    /*border-bottom: 3px solid white;*/
    padding-bottom: 12px;
}


#art-nav ul li {
    margin: 12px 12px;
    float: left;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.8em;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 12px;
}
/*#nav-ul-me {
    background: rebeccapurple;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 1000;
}*/

#nav-ul-me {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.8em;
    font-weight: bold;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 1000;
}

.myScrollbarH {
	position:absolute;
	z-index:100;
	height:8px;
	bottom:1px;
	left:2px;
	right:7px
}

.myScrollbarH > div {
	position:absolute;
	z-index:100;
	height:100%;

	/* The following is probably what you want to customize */
	background-image:-webkit-gradient(linear, 0 0, 100% 0, from(#a00), to(#f00));
	background-image:-moz-linear-gradient(top, #f00, #900);
	background-image:-o-linear-gradient(top, #f00, #900);

	border:1px solid #900;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	-o-background-clip:padding-box;
	background-clip:padding-box;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-o-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}


/**
 *
 * Vertical Scrollbar
 *
 */
.myScrollbarV {
	position:absolute;
	z-index:100;
	width:8px;bottom:7px;top:2px;right:1px
}

.myScrollbarV > div {
	position:absolute;
	z-index:100;
	width:100%;

	/* The following is probably what you want to customize */
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#f00), to(#900));
	background-image:-moz-linear-gradient(top, #f00, #900);
	background-image:-o-linear-gradient(top, #f00, #900);

	border:1px solid #900;

	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	-o-background-clip:padding-box;
	background-clip:padding-box;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	-o-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}

.any-search {
    background: rgba(255,255,255,0.3);
    color: white;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;
    font-size: 0.9em;
    width: 96%;
    height: 34px;
    margin: 8px auto;
    padding-top: 13px;
    padding-left: 20px;
    text-align: left;
}

.exit-button {
    color: black;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;
    font-size: 0.9em;
    height: 34px;
    width: 100%;
    text-align: center;
}

.any-search-input {
    background: rgba(255,255,255,0.3);
    color: white;
    border: none;
    outline: none;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;
    font-size: 0.9em;
    width: 96%;
    height: 34px;
    margin: 4px auto;
    padding: 6px 0px;
    padding-left: 20px;
}

.white-next-content {
    width: 96%;
    height: 40px;
    margin: 30px auto 0px auto;
}

.white-next {
    width: 40px;
    height: 40px;
    background: url(../icons/next-w.png);
    background-size: cover;
    /*position: absolute;*/
    right: 20px;
}

.search-a {
    text-align: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    left: 0px;
    /*top: 40px;*/
    /*background: grey;*/
    /*padding: 60px 0px 0px 0px;*/
    padding: 10px 0px 0px 0px;
    z-index: 1000;
}

.back-top {
    position: relative;
    margin:0 auto;
    background: url(../icons/backtop.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.go-top {
    position: relative;
    margin:0 auto;
    background: url(../icons/gotop.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.go-next {
    position: absolute;
    right: 30px;
    margin:0 auto;
    background: url(../icons/go-next.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}
.go-pre {
    left: 30px;
    position: absolute;
    margin:0 auto;
    background: url(../icons/pre.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}

.artwork-intro {
    /*position: absolute;*/
    bottom: 40px;
    left: -200px;
}

.search-result-table {
    width: 100%;
}

.gallery-title {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1.5em;
    font-weight: bold;
    margin:0px auto;
}

.search-part-content {
    width: 28%;
    margin: 20px 2.66667%;
    float: left;
}

.artwork-page-content {
    margin: 0px auto;
    width: 80%;
    text-align: center;
}

.search-part-img {
    background: url(../img/wimg1.png);
    background-size: cover;
    height: 150px;
    width: 100%;
    margin: 0px auto;
}

.artwork-part-img {
    background: url(../img/wimg1.png);
    background-size: cover;
    height: 650px;
    width: 100%;
    margin: 0px;
}

#search-page-content {
    text-align: center;
}

#collection-page-content {
    text-align: center;
}

#head-file {
    margin: auto auto;
    width: 200px;
    height: 200px;
    opacity: 0;
}

#me-head-file {
    margin: auto auto;
    width: 100px;
    height: 100px;
    opacity: 0;
}

.me-input-head-content {
    margin: auto auto;
    width: 100px;
    height: 100px;
    text-align: center;
}

.me-fake-input {
    margin: auto auto;
    width: 100px;
    height: 100px;
    /*background: rebeccapurple;*/
    border:1px solid grey;
}

.input-head-content {
    margin: auto auto;
    width: 200px;
    height: 200px;
    text-align: center;
}

.fake-input {
    margin: auto auto;
    width: 200px;
    height: 200px;
    /*background: rebeccapurple;*/
    border:1px solid grey;
}

.slide-part-content .collecte-button{
    position: absolute;
    /*margin-left: 10px;
    margin-top: 10px;*/
    width: 30px;
    height: 30px;
    background: url(../icons/collection.png);
    background-size: cover;
    margin-left: 15px;
    top: 35px;
}

@media screen and (min-width: 769px) and (max-width: 1080px) {

}

@media only screen and (max-width: 769px) { 
    /*#head-file {
    width: 260px;
    height: 260px;
    background: rebeccapurple;
    }*/
    /*.input-head-content {
    margin: auto auto;
    width: 200px;
    height: 200px;
    opacity: 0;
    }*/

    /*.fake-input {
    margin: auto auto;
    width: 200px;
    height: 200px;
    border:1px solid grey;
    background: grey;
    }*/
    #home-welcome-text {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.5em;
    }
    .button {
    padding: 0.3em 2em;
    border-radius: 5%;
    }
    .form-part-content input {
    width: 260px;
    border: none;
    border-bottom: 2px solid rgb(51,51,51);
    font-size: 1.2em;
    outline: none;
    padding-bottom: 0.2em;
    }
    .slide-part-img {
    height: 200px;
    width: 200px;
    }
    .slide-part-img-0 {
    height: 100px;
    width: 100px;
    }
    .slide-part-name {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 0.6em;
    font-weight: bold;
    }
    .any-search {
    width: 86%;
    height: 34px;
    margin: 8px auto;
    padding-top: 13px;
    padding-left: 20px;
    }

    .white-next-content {
    width: 86%;
    height: 40px;
    margin: 30px auto 0px auto;
    }

    #nav-slide-content {
        position: relative;
        width: 100%;
        background: grey;
        top: 0px;
        z-index: 1000;
    }

    .search-part-content {
    float: none;
    width: 80%;
    margin: 40px auto;
    }
    .gallery-title {
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-size: 1em;
    font-weight: bold;
    margin:0px auto 10px auto;
    }

    
    .search-part-img {
    background: url(../img/wimg1.png);
    background-size: cover;
    height: 200px;
    width: 100%;;
    margin: 0px auto;;
    }

    .go-next {
    position: absolute;
    right: 5px;
    top: -100;
    margin:0 auto;
    background: url(../icons/go-next.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    }
    .go-pre {
    left: 5px;
    top: -100;
    position: absolute;
    margin:0 auto;
    background: url(../icons/pre.png);
    background-size: cover;
    width: 30px;
    height: 30px;
    }
    .any-search-input {
    background: rgba(255,255,255,0.3);
    color: white;
    border: none;
    outline: none;
    font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-weight: bold;
    font-size: 0.9em;
    width: 86%;
    height: 34px;
    padding: 6px 0px;
    padding-left: 20px;
}
} 